<%-include('../partials/header') %>

<div class='container'>
<header class='jumbotron'>
	<div class='container'>

	<h1>Welcome to Happy Paws Hotels!</h1>
	<p>
		Because too much.. is never enough.
	</p>
	<p>
		<a class='btn btn-primary btn-lg' href='/hotels/new'>Add new hotel!</a>
	</p>		
	</div>
</header>
	
	<div class='row text-center' style='display: flex; flex-wrap: wrap;'>	
		<% hotels.forEach(function(hotel){ %>
		<div class='col-md-3 col-sm-6'>
			<div class='thumbnail'>
				<img src='<%= hotel.image %>'>
				<div class='caption'>
					<h4> <%= hotel.name %> </h4>
				</div>
				<p>
					<a href='/hotels/<%= hotel._id %>' class='btn btn-primary'>More Info</a>
				</p>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%-include('../partials/footer') %>