<%-include('../partials/header') %>

<div class='container'>
	<div class='row'>
		<div class='col-md-3'>
			<p class='lead'><%= hotel.name %></p>
			<ul class="nav nav-pills nav-stacked list-group">
				<a href="#" role="presentation" class="active list-group-item"><li>Info 1</li></a>
				<a href="#" role="presentation" class="list-group-item"><li>Info 2</li></a>
				<a href="#" role="presentation" class="list-group-item"><li>Info 3</li></a>
			</ul>
		<a class='btn btn-s btn-primary' href='/hotels/'>Go Back</a>
		</div>
		<div class='col-md-9'>
			<div class='thumbnail'>
				<img class='img-responsive' src='<%= hotel.image %>'>
				<div class='caption'>
					<h4 class='pull-right'>$<%= hotel.price %>/night</h4>
					<h4><a href=''><%= hotel.name %></a></h4>
					<p><%= hotel.description %></p>
					<p>
						<em>Submitted by <%= hotel.author.username %> </em>
					</p>
					<% if(currentUser && hotel.author.id.equals(currentUser._id)){ %>
						<a class='btn btn-warning' href='/hotels/<%= hotel._id %>/edit'>Edit</a>
						<form class='delete-form' action='/hotels/<%= hotel._id %>?_method=DELETE' method='POST'>
							<button class='btn btn-danger'>Delete</button>
						</form>
					<% } %>
					
				</div>
			</div>
			<div class='well'>
				<div class='text-right'>
					<p><a class='btn btn-success' href='/hotels/<%= hotel._id %>/comments/new'>Add New Comment</a></p>
				</div>
				<hr>
				<% hotel.comments.forEach(function(comment){ %>
				<div class='row'>
					<div class='col-md-12'>
						<strong><%= comment.author.username %></strong>
						<span class='pull-right'>10 days ago</span>
						<p><%= comment.text %> </p>
					<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
						<a class='btn btn-xs btn-warning' href='/hotels/<%=hotel._id%>/comments/<%=comment._id%>/edit'>Edit</a>
						<form class='delete-form' action='/hotels/<%= hotel._id%>/comments/<%=comment._id%>?_method=DELETE' method='POST'>
							<input class='btn btn-xs btn-danger' value='Delete' type='submit'>
						</form>
						<% } %>
					</div>
				</div>	
  				<% }); %>
			</div>
		</div>
	</div>
</div>

<%-include('../partials/footer') %>